<div class="fondoAll">
  <div class="registration-form">
    <div class="centrarForm">
      <button routerLink="/" type="button" class="btn btn-outline-primary mb-3">
        <img src="assets/img/arrow-left.svg" alt="">
      </button>
    </div>
    <form [formGroup]="formGroup">
      <div class="form-icon">
        <span><i class="icon icon-user"></i></span>
      </div>
      <div class="form-group">
        <input type="text" class="form-control item" id="username" [(ngModel)]="nombreUsuario" formControlName="nombreUser"
          placeholder="Nombre de usuario con el que se registró" required="" autofocus="">
          <div class="alert-danger" *ngIf="nombreUser?.invalid && (nombreUser?.dirty || nombreUser?.touched)">
            <div class="container-error-message" *ngIf="nombreUser?.errors?.['required']">
              Es requerido
            </div>
            <div class="container-error-message" *ngIf="nombreUser?.errors?.['minlength']">
              Debe contener al menos 4 caracteres
            </div>
            <div class="container-error-message" *ngIf="nombreUser?.errors?.['maxlength']">
              No debe ser mayor a 20 caracteres
            </div>
          </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control item" id="password" [(ngModel)]="password" formControlName="pass"
          placeholder="Contraseña" required="">
          <div class="alert-danger" *ngIf="pass?.invalid && (pass?.dirty || pass?.touched)">
            <div class="container-error-message" *ngIf="pass?.errors?.['required']">
              Es requerido
            </div>
          </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-block create-account" (click)="onSubmit()" >Ingresar</button>
      </div>
    </form>
    <div class="social-media">
      <h5>Sign up with social media</h5>
      <div class="social-icons">
        <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
        <a href="#"><i class="icon-social-google" title="Google"></i></a>
        <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
      </div>
    </div>
  </div>
</div>
